/* header */


.header{
    height: 112px;
    border: 1px solid black;
    vertical-align: middle;
}
 
.header__logo{
    position: absolute;
    left: 42%;
    right: 42%;
    top: 3.5%;
    width: 199.25px;
    height: 70px;
}

.header__nav_l {
    justify-content: center;
    text-align: left;
    margin-top: 3%;
    margin-left: 2%;
}

.header__nav_r {
    justify-content: center;
    text-align: right;
    margin-top: -1.5%;
    margin-right: 2%;
}

.header__text {
    text-align: justify;
    color: #222222;
    font-size: 14px;
    font-family: Roboto;
    text-transform: uppercase;
    line-height: 21.60px;
    letter-spacing: 0.50px;
    padding-left: 4em;
    padding-right: 4em;
}

#header__rectangle {
    width: 144px; 
    height: 52px; 
    background: #FB4B4D;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

/* header close */

/* main */

.main__offer {
    text-align: center;
}
.logo {
    display: inline-block;
}
.banner {
    text-align: center;
}
.main__scorpio {
    display: inline-block;
}

/* main menu button */

.menu {
    text-align: center;
}
.menu_list {
    display: inline-block;
}
.product {
    position: relative;
    padding-right: 2em;
}
.main__house {
    display: block;
    width: 90%;
    left: 1.8em;
    position: relative;
}
.main__product {
    display: block;
    position: absolute;
    width: 65%;
    top: 15em;
    left: 4.3em;
}
.main__text_menu {
    text-align: center;
    position: absolute;
    width: 65%;
    top: 6em;
    left: 3em;
}
h3.main__text_menu {
    left: 3.8em;
}
.main__fire_icon {
    display: block;
    position: absolute;
    top: 1em;
    width: 13%;
    left: -2.4em;
}
#right {
   left: 26.8em; 
}
/* main menu button close*/

.main__peper_all {
    text-align: center;
}
.main__peper {
    display: inline-block;
}
.main__cup {
    text-align: center;
}

/* main article start */

.article {
    text-align: center;
}
.article_list_div {
    display: inline-block;
}
.main__article {
    display: block;
    position: absolute;
    top: 170.5em;
    left: 58em;
    right: 13.5em;
    bottom: 5em;
}
.article_list_h1 {
    font-size: 3em;
}

/* main article close */

.footer {
    text-align: center;
}
.footer__logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 98.5em;
    text-align: center;
}
.footer__text {
    background-color: #cefd3b;
}
#PRIVACY {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 5em;
    right: 0;
    top: 258em;
    text-align: left;
}
#UJJO {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 258em;
    text-align: center;
}
#INSTAGRAM {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 5em;
    top: 258em;
    text-align: right;
}

/* main close */