/* header */


.header{
    position: fixed;
    z-index: 1;
    height: 13%;
    width: 95.85%;
    border: 1px solid black;
    background-color: aliceblue;
    margin: 0 1.5% 0 1.5%;
    vertical-align: middle;
}
 
.header__logo{
    position: absolute;
    left: 42%;
    right: 42%;
    top: 16%;
    width: 15%;
    height: 65%;
}

.header__nav_l {
    justify-content: center;
    text-align: left;
    margin-top: 3%;
    margin-left: 2%;
}

.header__nav_r {
    justify-content: center;
    text-align: right;
    margin-top: -1.5%;
    margin-right: 2%;
}

.header__text {
    text-align: justify;
    color: #222222;
    font-size: 100%;
    font-family: Roboto;
    text-transform: uppercase;
    line-height: 21%;
    letter-spacing: 0.5%;
    padding-left: 4%;
    padding-right: 4%;
}

#header__rectangle {
    width: 144%; 
    height: 52%; 
    background: #FB4B4D;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

/* header close */

/* main */

.main {
    margin: -0.5% 1.7% 0 1.5%;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.main__offer {
    text-align: center;
    margin: 0 0 2% 0 ;
    padding: 8% 0 2% 0;
    border-bottom: 1px solid black;
}
.logo {
    display: inline-block;
}
.banner {
    text-align: center;
}
.main__scorpio {
    display: inline-block;
    font-size: 300%;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: -0.2% 0 0 0;
}
#left.main__scorpio {
    width: 3.5em;
    margin: -0.2em 5% 0% 0;
}
#right.main__scorpio {
    width: 3.5em;
    margin: -0.2em 0 0% 3%;
}

/* main menu button */

.menu {
    border-top: 1px solid black;
    text-align: center;
    margin: 2% 0 0 0;
    padding: 3% 0 2% 0;
}
.menu_list {
    display: inline-block;
}
.product {
    position: relative;
    padding-right: 2em;
}
.main__house {
    display: block;
    width: 90%;
    left: 2.3em;
    position: relative;
}
.main__product {
    display: block;
    position: absolute;
    width: 65%;
    top: 15em;
    left: 4.8em;
}
.main__text_menu {
    text-align: center;
    position: absolute;
    width: 65%;
    top: 6em;
    left: 3.5em;
}
h3.main__text_menu {
    left: 4.3em;
}
.main__fire_icon_l {
    display: block;
    position: absolute;
    top: 1em;
    width: 13%;
    left: -0.4em;
}
.main__fire_icon_r {
    display: block;
    position: absolute;
    top: 1em;
    width: 13%;
    left: -2.8em;
}
#right  {
   left: 25.8em;
}

/* main menu button close*/

.main__peper_all {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.main__peper {
    display: inline-block;
}
.main__cup {
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

/* main article start */

.article {
    text-align: center;
}
.article_list {
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#div_1 {
    padding: 0 1% 0 0;
}
#div_2 {
    padding: 0 0 0 1.5%;
    border-left: 1px solid black;
}
.article_list_div {
    display: inline-block;
}
.main__back_star{
    margin: 2.5em 0 2em 0;
}
.main__article {
    display: block;
    position: absolute;
    margin: -34.5em 0 0 8.5em;
}
.article_list_h1 {
    font-size: 3em;
}

/* main article close */

.footer {
    text-align: center;
    margin: -0.5% 1.7% 0 1.5%;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.footer__img {
    margin: -10em 0 -0.27em 0;
    width: 100%;
}
.footer__text {
    padding: 2em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #cefd3b;
}
#PRIVACY {
    margin: 0 0 0 0;
}
#UJJO {
    margin: 0 25em 0 25em;
}
#INSTAGRAM {
    margin: 0 0 0 0;
}

/* main close */